@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";

@theme {
  /* Core background */
  --color-primary: #0a0a0a;
  --color-dark-100: #161616;

  /* Accent (Amber / Gold) */
  --color-accent-50: #fffbeb; /* very soft glow / backgrounds */
  --color-accent-100: #fbbf24; /* primary accent (current) */
  --color-accent-200: #f59e0b; /* strong accent / CTA */
  --color-accent-300: #d97706; /* hover / active */
  --color-accent-400: #b45309; /* dark amber (borders) */

  /* Text */
  --color-light-100: #f5f5f5;
  --color-light-200: #a1a1aa;
  --color-gray-100: #71717a;

  /* Fonts */
  --font-dm-sans: DM Sans, sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 480px;

  /* Hero Background */
  --background-image-hero-pattern: url("/hero-bg.png");
}

/* =========================
   BASE STYLES
   ========================= */
@layer base {
  body {
    font-family: var(--font-dm-sans);
    font-optical-sizing: auto;
    background: var(--color-primary);
    color: var(--color-light-100);
  }

  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-light-100
           sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-light-100 sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }

  header {
    @apply mt-5 sm:mt-10;
  }

  header img {
    @apply w-full max-w-lg h-auto object-contain mx-auto drop-shadow-lg;
  }
}

/* =========================
   COMPONENTS
   ========================= */
@layer components {
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute inset-0 z-0;
  }

  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  /* Trending Section */
  .trending {
    @apply mt-20;

    & ul {
      @apply flex flex-row overflow-y-auto gap-5 -mt-10 w-full hide-scrollbar;
    }

    & ul li {
      @apply min-w-57.5 flex flex-row items-center;
    }

    & ul li p {
      @apply fancy-text mt-5.5 text-nowrap;
    }

    & ul li img {
      @apply w-31.75 h-40.75 rounded-xl object-cover -ml-3.5;
    }
  }

  /* Search */
  .search {
    @apply w-full bg-white/5 px-4 py-3 rounded-2xl mt-10 max-w-3xl mx-auto
           backdrop-blur-md border border-white/10;

    & div {
      @apply relative flex items-center;
    }

    & img {
      @apply absolute left-2 h-5 w-5 opacity-70;
    }

    & input {
      @apply w-full bg-transparent py-2 sm:pr-10 pl-10 text-base
             text-light-100 placeholder-light-200 outline-none;
    }
  }

  /* Movies Grid */
  .all-movies {
    @apply space-y-9;

    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }

  /* Movie Card */
  .movie-card {
    @apply bg-dark-100 p-5 rounded-2xl
           shadow-inner shadow-black/40
           transition-transform duration-300 hover:-translate-y-1;

    & img {
      @apply rounded-xl h-auto  w-full;
    }

    & h3 {
      @apply text-light-100 font-bold text-base line-clamp-1;
    }

    & .content {
      @apply mt-2 flex flex-row items-center flex-wrap gap-2;
    }

    & .rating {
      @apply flex flex-row items-center gap-1;
    }

    & .rating p {
      @apply font-bold text-base text-accent-200;
    }

    & .content span {
      @apply text-sm text-gray-100;
    }

    & .content .lang,
    & .content .year {
      @apply capitalize text-neutral-400 font-medium text-base;
    }
  }
}

/* =========================
   UTILITIES
   ========================= */
@utility text-gradient {
  @apply bg-linear-to-r from-accent-100 to-accent-200
         bg-clip-text text-transparent;
}

@utility fancy-text {
  -webkit-text-stroke: 5px rgba(251, 191, 36, 0.35);
  font-size: 190px;
  font-family: "Bebas Neue", sans-serif;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
